.dark {
    background-color: #110038;
    color: white;
    font-family:$main--font;
    font-size: 1rem;
    .bar{
        padding-left: 7px;
        padding-top: 4px;
        width: 99,9%;
        height: 23px;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 5px;
        color: white;
        background: linear-gradient(left, #2E32FB 0%, #EE3EFE 100%);
        box-shadow: 0 1px 0 0 #110038;
        
    }
    

    .navbar__brand-image {
        #logo-light{
            background-image: url('./assets/gifOF_logo.png');
            display: none;
        }
    
        position: absolute;
        background-repeat: no-repeat;
        left: 61px;
        top: 59px;
    }
    .button--crear {
        cursor: pointer;
        a:link, a:visited, a:active {
            text-decoration:none;
            color: #FFFFFF;
        }
        width: 144px;
        height: 36px;
        background: #EE3EFE;
        font-family:$main--font;
        font-size: 1rem;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        position: absolute;
        left: 840px;
        top: 68px;
        &:hover {
            
            color: #FFFFFF;
             text-decoration: none;
            background: #CE36DB;
    
        }
    }

    .button--elegir {
        cursor: pointer;
        width: 144px;
        height: 36px;
        background: #EE3EFE;
        font-family:$main--font;
        font-size: 1rem;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        position: absolute;
        left: 995px;
        top: 68px;
        &:hover {

            background: #CE36DB;
        }
    }
    .elegir-desplegable{
        cursor: pointer;
        width: 36px;
        height: 36px;
        background: #EE3EFE;;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
    position: absolute;
    left: 1138px;
        top: 68px;
    &:hover {

        background: #CE36DB;

    }
    .menu-desplegable{
        cursor: pointer;
        li{
            &:hover{
                background: #2E32FB;
                border: 1px solid rgba(51,53,143,0.20);
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
            }
        }
    }
}

#mis{
    cursor: pointer;
    position: absolute;
    left: 1190px;
    top: 75px;
    color: #FFFFFF;
    a:link, a:visited, a:active {
        text-decoration:none;
        color: #FFFFFF;
    }
    &:hover {


        
            border: 1px dotted #FFFFFF;
            width: 95px;
            height: 32px;
        
    }
}

    
    .container{
        .rectangle{
            background: linear-gradient(left, #2E32FB 0%, #EE3EFE 100%);
        }
            #rectangle-copy{
                cursor: pointer;
                a:link, a:visited, a:active {
    text-decoration:none;
    color: #B4B4B4;
} 
                &:hover {
                    color:#FFFFFF;
                    background: #EE3EFE;
                    border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        
                }
    
        }
    }
    
    .rectangle-2{
        width: 1189px;
        height: 32px;
        position: absolute;
        left: 61px;
        top: 372px;
        padding-left: 8px;
        padding-top: 8px;
        color: #110038 ;
        font-size: 14px;
        background: #FFFAFE;
border: 1px solid #2E32FB;
box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
    }
    .rectangle-3{
        width: 1189px;
        height: 32px;
        position: absolute;
        left: 5px;
        top: 390px;
        color: #110038 ;
        font-size: 14px;
        padding-left: 8px;
        padding-top: 8px;
        background: #FFFAFE;
border: 1px solid #2E32FB;
box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
    }
    .gifs{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    margin-top: 250px;
    flex-direction: row;
    position: absolute;
left: 55px;
right: 81px;
top: 190px;

.gif1, .gif2, .gif3, .gif4{
    
        background-color: #B4B4B4;
        box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
        height: 313px;
            width: 288px;
            position: relative;

            .cruz{
                &:hover{
                    cursor: pointer;
                }
            }
        .barra{
            width: 280px;
            height: 24px;
            background: linear-gradient(left, #2E32FB 0%, #EE3EFE 100%);
            margin-left: 4px;
            margin-top: 3px;

            p{
                font-family: 'Chakra Petch', sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #FFFFFF;
                padding-top: 2px;
                    padding-left: 4px;
                letter-spacing: 0;

                img{
                    position: relative;
                    left: 138px;
                }
            }
        }
        #containerGif1, #containerGif2, #containerGif3, #containerGif4{
            height: 270px;
            width: 270px;
            margin-left: 8px;
            margin-top: 7px;
            
        }
       
        }
    }



//crear gifos

.container_crear {
    width: 684px;
    height: 386px;
    background:#E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-top: 30px;
    margin-left: 328px;

.titulo_crear {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 678px;
    height: 24px;
    margin-left: 3px;
    margin-top: 4px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    color: white;
    p{
        padding-top: 3px;
        padding-left: 4px;
    }
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
 
 ul li p {
    margin-right: 15px;
  }
}
      .text_instrucciones {
        width: 518px;
        height: 229px;
        margin-top: -17px;
        margin-left: 82px;
        font-size: 14px;
        color: #110038;
        letter-spacing: 0;
        line-height: 20px;
      }
      
      .img_window {
        width: 32px;
        height: 32px;
        position: relative;
        left: 30px;
        top: 22px;
      }
      .btn_comenzar {
        cursor: pointer;
        width: 144px;
        height: 36px;
        background: #EE3EFE;
        border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        font-family: $main--font;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        &:hover{
          background-color: #CE36DB;
          span {
            border: 1px dotted #110038;
            width: 100%;
            height: 100%;
        }
        }
      }
      .btn_cancelar {
        cursor: pointer;
        width: 144px;
        height: 36px;
        background: #EE3EFE;
        border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; 
        font-family: $main--font;   
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;

        a:link, a:visited, a:active {
            text-decoration:none;
            color: #FFFFFF;
        }
        &:hover{
            background-color: #CE36DB;
          span {
            border: 1px dotted #110038;
            width: 100%;
            height: 100%;
        }
        }
      }
      
      .container_btn_comenzar{
        margin-left: 364px;
        margin-top: 22px;
      }
  }
  
 
 
 
 
  .container_capturar {
    width: 860px;
    height: 548px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 250px;
    margin-bottom: 100px;
    display: none;
    
    .mensaje_chequeo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 854px;
        height: 24px;
        font-size: 14px;
        color: white;
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
        margin-top: 3px;
        margin-left: 3px;
        p{
            padding-top: 3px;
            padding-left: 5px;
        }
        .btn_close{
            padding-top: 1px;
            padding-right: 5px;
        }
      }

    .container_capturando {
        width: 832px; 
    height: 434px;
    margin: 14px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000
      }
      .container_btn_capturar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 860px;
        .btn_container_capt2 {
            width: 190px;
            height: 36px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            width: 35vw;
            height: 50px;
            margin: 0px 20px 16px 20px;
          
      .btn_capturar {
        cursor: pointer;
        width: 144px;
        height: 36px;
        color: white;
        font-size: 16px;
        font-family: $main--font;
        background: #EE3EFE;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        &:hover{
          background-color: #CE36DB;
          span {
            border: 1px dotted #110038;
            width: 100%;
            height: 100%;
        }
        }
      }
      .btn_camara {
        .oscura{
          background-image: url('./assets/camera.svg');
          display: none;
      }
        
        cursor: pointer;
        width: 36px;
        height: 36px;
        color: #FFFFFF;
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        &:hover{
            background-color: #CE36DB;
          span {
            border: 1px dotted #110038;
            width: 100%;
            height: 100%;
        }
        }
      }
      }
    }
}

  
  

.input_my_guifos {
      display: none;
    width: 1200px;
    height: 32px;
    margin: 100px 55px 0px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  }
  
  input[type="text"] {
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    padding-left: 10px;
  }
.text_instrucciones {
    font-size: 12px;
    font-weight: 100;
    margin: 20px 0px 0px 20px;
  }

    .btn_listo_container {
        display: none;
        width: 860px;
        height: 30px;
        position: absolute;
     
  .btn_listo {
    cursor: pointer;
    display: none;
    width: 144px;
    height: 36px;
    background: #FF6161;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color:white;
    font-family: $main--font;
    font-size: 16px;
    position: relative;
    bottom: 70px;
    left: 700px;
  }
  .btn_recording {
    display: none;
    width: 36px;
    height: 36px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    position: relative;
    left: 665px;
    bottom: 34px;
  }
  .input_listo {
    display: none;
    width: 124px;
    height: 36px;
    margin-left: 20px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    position: relative;
    top: 5px;
  }
  #minutos{
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    position: absolute;
    top:15px;
    left: 70px;
    z-index: 990;
  }
  #segundos{
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    position: absolute;
    top:15px;
    left: 100px;
    z-index: 990;
  }
}



.container_btn_repetir {
    display: none;
    width: 684px;
  
  .btn_repetir {
    cursor: pointer;
    display: none;
    width: 144px;
    height: 36px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    font-family: $main--font;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    left: 800px;
    bottom: 29px;
    &:hover{
        background-color: #CE36DB;
      span {
        border: 1px dotted #110038;
        width: 100%;
        height: 100%;
    }
    }
  }
  .btn_subir {
    cursor: pointer;
    display: none;
    width: 144px;
    height: 36px;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    font-family: $main--font;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    left: 950px;
    bottom: 65px;
    &:hover{
        background-color: #CE36DB;
      span {
        border: 1px dotted #110038;
        width: 100%;
        height: 100%;
    }
    }
  }
  .input_repetir {
    display: none;
    width: 124px;
    height: 36px;
    margin-left: 270px;
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    position: relative;
    top:-158px;
  }
  #min{
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    position: absolute;
    top:600px;
    left: 300px;
    z-index: 990;
  }
  #seg{
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    position: absolute;
    top:600px;
    left: 330px;
    z-index: 990;
  }
}
  



  
.barra_carga{  
  .barra_barra{
    width: 240px;
    height: 24px;
    position: absolute;
    top: 598px;
    left: 449px;
    background: #B4B4B4;
box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0  #FFFCFC;

#divisor1{
  width: 1%;
  height: 20px;
  background: #EE3EFE;
  margin-top: 2px;
  margin-left: 2px;
}
#divisor2{
  width: 100%;
  height: 20px;
  margin-top: -20px;
  margin-left: 62px;
}
  }
  
  .forward{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20px;
    height: 20px;
    background: #EE3EFE;
    border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    margin-left: 420px;
    margin-top: -189px;

  }
}
  
.gif_container {
    height: 434px;
    width: 900px;
  } 
  
  
  
  
  
  .container_subiendo {
    display: none;
    width: 860px;
    height: 548px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 220px;
    margin-bottom: 100px;

    .barra_up2{
      width: 324px;
      height: 24px;
      position: absolute;
      top: 378px;
      left: 479px;
      background: #999999;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0  #FFFCFC;
    
    #up3{
    width: 1%;
    height: 20px;
    background: #EE3EFE;
    margin-top: 2px;
    margin-left: 2px;
    }
    #up4{
    width: 100%;
    height: 20px;
    margin-top: -20px;
    margin-left: 62px;
    }
    } 

  .mensaje_subiendo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 854px;
    height: 24px;
    margin-left: 3px;
    margin-top: 3px;
    font-size: 12px;
    color: white;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  }
  .btn_close{
            padding-top: 1px;
            padding-right: 7px;
        }
  
  .titulo_subiendo {
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 3px;
  }
  
  .img_subiendo {
    width: 838px;
    height: 440px;
    margin: 10px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  }
  
  #globe_img {
    width: 48px;
    height: 48px;
    margin: 139px 398px 0px 398px;
  }
  
  #texto_subiendo {
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin: 10px 322,5px;
  }
  
  #tiempo_carga {
    font-size: 12px;
    font-family: $main--font;
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    margin-top: 90px;
  }
  
  #btn_cancelar2 {
    cursor: pointer;
    width: 144px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    position: relative;
    left: 700px;
    a:link, a:visited, a:active {
        text-decoration:none;
        color: #110038;
    }
    &:hover{
      background:#F0E5EE;
      span {
        border: 1px dotted #110038;
        width: 100%;
        height: 100%;
    }
    }
  }
}
  
  
  

  
.capturaGif{
  display: none;
  width: 371px;
  height: 196px;
  margin-left: 23px;
  margin-top: 8px;
border: 1px solid #979797;
box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;

}
#gifoCreado{
        
        flex-direction: row;
        justify-content: left;
        margin-top: -190px;
        margin-left: 400px;

  .gifo_creado {
    display: none;
    font-weight: bold;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .btn_copiar {
    cursor: pointer;
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-top: 20px;
    display: none;
    &:hover{
      background:#F0E5EE;
      span {
        border: 1px dotted #110038;
        width: 100%;
        height: 100%;
    }
    }
  }
.btn_descargar {

  cursor: pointer;
  margin-top: 20px;
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    font-family: $main--font;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    display: none;
    
      a:link, a:visited, a:active {
        text-decoration:none;
        color: #110038;
    }
    &:hover{
      background:#F0E5EE;
      span {
        border: 1px dotted #110038;
        width: 100%;
        height: 100%;
    }
    }
  
  }
  
  }

  .btn_listo2 {
    cursor: pointer;
    margin-top: 105px;
    margin-left: 110px;
    width: 144px;
    height: 36px;
    background: #EE3EFE;
    border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    font-family: $main--font;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    display: none;
    &:hover{
      background-color: #CE36DB;
      span {
        border: 1px dotted #110038;
        width: 100%;
        height: 100%;
    }
}
  }
  .container_my_guifos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-column-gap: 20px;
    grid-row-gap: 35px;*/
    margin-left: 30px;
    margin-top: 150px; 
  }

}



